* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: normal;
}

html {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3.125rem;
    margin: 2.09375rem;
}

header a {
    color: aquamarine;
    margin: 1.3125rem;
}

